.sidebar {
  position: fixed;
  top: 70px; /* di bawah topbar */
  left: 0;
  width: 240px;
  height: calc(100vh - 70px);
  background: #ffffff;
  border-right: 1px solid #ddd;
  padding: 20px;
  z-index: 999;
  font-family: 'Inter', sans-serif;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

/* link jadi full area */
.sidebar a {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  border-radius: 35px;
  text-decoration: none;
  color: black;
}

/* hover */
.sidebar a:hover {
  background: #e6ecf7;
}

/* ACTIVE pindah ke <a> */
.sidebar a.active {
  background: #4a7bbd;
  color: white;
}

/* icon default */
.icon {
  width: 20px;
  height: 20px;
  color: black; /* ganti dari fill */
}

/* icon active */
.sidebar a.active .icon {
  color: white;
}

