.content {
  margin-left: 250px;
  margin-top: 70px;
  padding: 30px;
  font-family: 'Inter', sans-serif;
}

/* TITLE */
.title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.title h1 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  margin: 0;
}

.title span {
  font-size: 22px;
}

/* STATS */
.stats {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}

.card {
  background: white;
  border-radius: 18px;
  width: 310px;
  height: 120px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

/* TEXT */
.card-text p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.card-text h2 {
  margin: 5px 0 0;
  font-size: 28px;
}

/* ICON BOX */
.card-icon {
  width: 65px;
  height: 65px;
  background: #4a7bbd;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ICON SVG */
.card-icon svg {
  width: 30px;
  height: 30px;
  color: white; /* ini kunci biar jadi putih */
}

.project {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.project img {
  width: 310px;
  height: 314px;
  border-radius: 15px;
}

.skills {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.skills span {
  background: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.cert {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  
}

.cert img {
  width: 310px;
  height: 350px;
  object-fit: contain;
  background: #c9c9c9;
  border-radius: 20px;
}