.topbar {
  position: fixed;
  top: 0;
  left: -10px;
  height: 70px;
  width: 100%;
  background: #4a7bbd;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px; /* ⬅️ INI KUNCI BIAR GA KE POTONG */
  box-sizing: border-box;

  z-index: 1000;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.logo-text {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.topbar-right {
  display: flex;
  align-items: center;
}

.icon-btn {
  background: white;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
}